body{
  background-color:green;
  background-size:100%;
}
.wrap__tittle {
  overflow: visible;
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-style: double;
  display: inline-block;
}
.wrap__1tittle{
  text-align: right;
  font:15px sans-serif;
}
.wrap__article {
  quotes: "«" "»";
  color:darkorange;
  font-style:serif;
}
.wrap__1article {
  font-weight: bold;
  font-stretch: semi-expanded;
}
.wrap__text{
  background-color:brown;
  box-shadow: 5px 5px 5px #FFD700;
  border:3x orange;
  border-radius:30px;
  width:750;
  padding:25px;
  margin:70px 20px;
  cursor: text;
}
